body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: 0.5s ease-in-out;
}

.active {
  color: tomato;
}

/*  
script.js에서 사용하게 될 클래스이다.
*/

.sexy-font {
  font-family: "Courier New", Courier, monospace;
}
